<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
  <%= f.label :title %>
  <%= f.text_field :title %>
</P>

<p>
  <%= f.label :body %>
  <%= f.text_field :body %>
</p>

<P>
  <%= f.label :author %>
  <%= f.text_field :author %>
</P>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
